* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	height: 100%;
	overflow: hidden;
	color: black;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* background-image: url('./assets/background.jpg'); */
	/* background-repeat: no-repeat; */
	/* background-size: auto; */
	background-color: white;
}

#root {
	height: 85%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#arena-line {
	height: 500px;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid black;
	border-radius: 100%;
	overflow: hidden;
}

#movable-entity-container {
	position: relative;
	transform: translate(-50%, -50%);
}

.movable-entity {
	position: absolute;
}

.scoreboard {
	margin-top: 10px;
	text-align: center;
	font-size: 17px;
}